*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
}
.chess{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}
.chess__header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    align-self: start;
    margin-top:3%;
}
.cless__titte{
    color: rgb(60, 85, 60);
}
.chess__button{
    background-color: rgb(117, 155, 112);
    width:40%;
    height:10%;
    margin:2%;
}
.icon_micro{
    width: 0.8em;
    margin: 0px 5px 0px 10px;
}
.icon_min{
    width: 1.5em;
    margin: 0px 2px 5px 0px;
}
.icon_med{
    width: 2em;
    margin: 0px 5px 0px 0px;
}
.main__column{
    display: flex;
    flex-flow: column nowrap;
    /* background-color: aqua; */
    justify-content:flex-start;
    position: relative;
    height: 100%;
}
.modal__details{
    display: flex;
    position: absolute;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 89vh;
    width: min(50vw,85vh);
    background-color: #8379E8;
    opacity:0.97;
    left: 0px;
    top:8vh;
    border-left: 1px solid rgb(77, 77, 77);
    border-right: 1px solid rgb(77, 77, 77);
    border-bottom: 1px solid rgb(77, 77, 77);
    
}
.modal__details--display{
    display: none;
}
.status__game__row{
    display:flex;
    flex-flow: row nowrap;
    height: 6vh;
    color:black;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    box-shadow: 3px 3px 8px rgb(77, 77, 77);
    margin: 2vh 0 4vh 0 
}
.status__game{
    color:black;
    font-size: 0.8em;
    color:black;
    font-weight: 500;
    border-right: 1px solid rgb(77, 77, 77);
    height: 100%;
    padding: 0 10px 0 10px;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.status__game--player{
    width: 40%;
    background-color: #71E861;
    border-radius:  2px 0px 0px 2px ;
}
.status__game--board{
    width: 40%;
    background-color: #E8884A;
}
.status__game--details{
    width: 20%;
    background-color: #8379E8;
    cursor: pointer;
}
@keyframes glowing {
    0% { background-color: #E8884A; }
    50% { background-color: #DE314E;}
    100% { background-color: #E8884A; }
  }
  
.check-alert-effect {
    -webkit-animation: glowing 3500ms infinite;
    -moz-animation: glowing 3500ms infinite;
    -o-animation: glowing 3500ms infinite;
    animation: glowing 3500ms infinite;
  }

  #history__header{
      background-color: #8379E8;
      font-weight: 500;
      font-size: 0.8em;
      display:flex;
      flex-flow: row nowrap;
      height: 6vh;
      color:black;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      box-shadow: 3px 3px 8px rgb(77, 77, 77);
      margin: 2vh 0 0 0;
      position: relative;
      z-index: 99;

  }
.chess__game{
    width:min(50vw,85vh);
    height:min(50vw,85vh);
    margin:0 0 1vw 0;
    border-radius: 2px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;  
    align-items: space-between;
    box-shadow: 3px 3px 15px rgb(77, 77, 77);
}
.chess__board{   
    width:100%;
    height:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center; 
    position: relative;
}
.chess__line{
    width: 6%;
    height: 92%;
    display: flex;
    flex-flow: column-reverse nowrap;
}
.chess__column{
    width:92%;
    height: 6%;
    display: flex;
    flex-flow: row nowrap;  
    justify-content: space-between; 
    align-items: space-between;
    margin-left:6%;
}
.line{
    height: 100%;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: rgb(60, 85, 60);
}
.column{  
    width:100%;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: rgb(60, 85, 60);
}
.chess__squares{
    border: solid 2px rgb(77, 77, 77);
    width: 92%;
    height: 92%;
    display: flex;
    flex-flow:  column-reverse wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:  rgb(77, 77, 77);
}
.board__square{
    width: 12.5%;
    height: 12.5%;
    border: solid 1px rgb(77, 77, 77);
}
.square__light{
    background-color: rgb(240, 255, 240);
}
.square__dark{
    background-color: #B2ECAA;
}
.square__dark--mark{
    background-color: #8379E8;
}
.board__pieces{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.pieces__imagem{
    height:90%;
}
.chess__capturePieceColor{
    width:20vw;
    height:89vh;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    background-color: #6A62B5;
    box-shadow: 3px 3px 8px rgb(77, 77, 77);
    position: relative;
    top:0px


}
.capturePieceColor__banner{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: start;
    background-color: #6A62B5;
    width:90%;
    height:30%;
    margin: 5% 5% 0 5%;
    padding: 2%;
    border-radius: 3px;
}

.modal__details_msg{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: start;
    background-color: #6A62B5;
    width:90%;
    height:10%;
    margin: 5% 5% 0 5%;
    padding: 2%;
    border-radius: 3px;
}

.capturePieceColor__text{
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color:  black;
}
.capturePieceColor__pieceDead{
    width:100%;
    height:90%;
}
.pieceDead__img{
    width: 10%;
}
.move__piece--possibilities{
    /* background-color:rgba(117, 155, 112, 0.4); */
    border: dashed 2px  rgb(41, 41, 41);
    /* background-color:rgb(75, 85, 73); */
    /* background-image: url("img/simbolo.svg"); */
    /* background-size: cover; */
}
.move__piece--possibilities-l{
    border: solid 2px black;
    background-image: url("img/posible-moviment.svg");
    background-size: 15px 15px;
    background-position: top left;
    background-repeat:no-repeat;
}   
.move__piece--possibilities-d{
    border: solid 2px black;
    background-image: url("img/posible-moviment.svg");
    background-size: 15px 15px;
    background-position: top left;
    background-repeat:no-repeat;
}
.move__piece--selected-l{
    border: solid 2px red;
}
.move__piece--selected-d{
    border: solid 2px red;
}             
.move__piece--selected{
    border: dashed 2px  rgb(41, 41, 41);
}       
.board__squarePieces{
    background-color: rgb(240, 255, 240);
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.squarePieces__img{
    width:10%;
    height:10%;
}

#information__history::-webkit-scrollbar {
    width: 10px;
  }
  
#information__history::-webkit-scrollbar-track {
    background: #7169b8; 
  }
   
#information__history::-webkit-scrollbar-thumb {
    background: #514b85; 
  }
  
#information__history::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
#information__history{
    width:100%;
    height:89vh;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #6A62B5;
    box-shadow: 3px 3px 8px rgb(77, 77, 77);
    position: relative;
    top:0px;
    overflow: auto;
    padding: 1%;
    scrollbar-color:#514b85 #7169b8;
    scrollbar-width: thin;
    border-radius: 0 0 2px 2px;
}
.move__back{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: none;
    width:3vw; 
    height: 5vh; 
    background-color: #7169b8;
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 1px;
    position: absolute;
    right:10px;
    box-shadow: 3px 3px 8px rgb(77, 77, 77);
    z-index: 999;
    border-radius: 8px;
    cursor: pointer;
}
.aux__column{
    width: 25%;
}
.history__play{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    min-height: 10%;
    width: 95%;
    background-color: #7169b8 ;
    box-shadow: 2px 2px 4px rgb(77, 77, 77);
    border-radius: 3px;
    margin: 10px 5px 0 5px; 
    font-weight: 500;
}
.play__number
.play__refIdPiece{
    font-size:0.8em;
    width: 5%;
}
.play__img{
    width: 5%;
}
.chess__startGame{
    background-color:#fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index:9999;
    display: none;

}
.start__infMultiPlayer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.button__multiplayer--inf{
    background-color: rgb(117, 155, 112);
    width:10%;
    height: 5%;
}
.chess__startGame--display{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.move__back--display{
    display: none;
}
.chess__modal{
    background-color: rgba(117, 155, 112, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:9999;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.chess__modal--display{
    display:none
}
#chess__inf{
    font-size:2em;
}