@media (orientation: portrait){
    .defalt__config{
        font-size:30px;
    }

    #chess{
        flex-flow:column nowrap;
        justify-content: start;
        align-items: center;
        width: 100vw;
        height: 150vh;
    }
    
    .menu__home{
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 100vw;
        height: 150vh;
    }
    .menu__home--display{
        display:flex;
    }
    .menu__home__banner{
        width:100%;
        height: 20%;
        border-radius:0px 0px 10% 10%;
    }
    .menu__home__logo{
        margin:0px;
        height: 80%;
    }
    .menu__home__title{
        margin:0px;
        font-size: 3rem;    
    }
    .menu__home__module{
        width: 100%;
        height: 42%;
    }
    .module__offline{
        width: 100%;
        height: 20%;
    }
    .module__online{
        margin:0px;
        width: 100%;
        height: 55%;
    }
    .menu__home__inputs{
        width:80%;
        height:40%;
    }
    .menu__buttons__online{
        height: 25%;
    }
    .menu__button__online{
        margin-top:0px;
    }
    textarea:focus, input:focus, select:focus {
        outline: 0;
    }
    .module__icon{
        margin:0px 10px 10px 0px;
    }
    
    /* left panel*/
    .section__panel{
        width: 100vw;
        height: 6%;
        flex-flow: column wrap;
    }
    .section__panel__buttons{
        flex-flow: column nowrap;
        justify-content: space-between;
        order: 5;
        width: 10%;
        height: 100%; 
    }
    .section__panel__img{
        width: 10vw;
        height: 40%; 
    }
    .micro__button__img{
        width: 100%;
        height: 100%;
    }
    .section__panel__header{
        order:2;
        width:40%;
        height:90%;
        justify-content: center;
    }
    .header__logo{
        display: none;
    }
    .header__title{
        text-align: center;
        width: 100%;
    }
    .section__panel__player{
        margin:0px;
        flex-flow: row nowrap;
        order:4;
        width:45%;
        height:45%;
    }
    #player__img{
        margin:0px 0px 0px 3%;
        height: 100%;
    }
    .player__text{
        margin-left:0px;
    }
    .section__panel__move{
        display: none;
    }
    .section__panel__time{
        order:3;
        flex-flow:row nowrap;
        width:45%;
        height:50%;
    }
    .time__section{
        margin-right:5%;
        width:45%;
        height:100%;
        align-items: flex-start;
    }
    .time__img{ 
        margin-right:5%;
        width: 100%;
        height:70%;
    }
    .time__text{
        display:none
    }
    .time__part{
        width: 100%;
        margin:0px;
    }
    #text__dark{
        display:none;
    }
    
    /* main panel */
    .chess__main{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        margin:70px 0px 70px 0px;
    }
    /* top line with status game  */
    .status__game__row{
        width:min(98vw,85vh);
        height: 8%;
        margin:0px 0px 3vh 0px;
    }
    #information__details{
        display: none;
    }
    .icon__micro{
        margin:0px;
    }
    .icon__min{
        margin: 0px 4px 10px 0px;
    }
    .icon__med{
        margin: 0px 15px 0px 0px;
    }

    /* chess board */
    .chess__board{
        width:min(98vw,85vh);
        height:min(98vw,85vh);
        margin:0px;
    }
    .move__piece--possibilities{
        border: dashed 4px  var(--text);
    }
    .move__piece--possibilities-l{
        border: solid 4px var(--dark);
        background-size: 25px 25px;
    }   
    .move__piece--possibilities-d{
        border: solid 4px  var(--dark);
        background-size: 25px 25px;
    }
    .move__piece--selected-l{
        border: solid 4px var(--spotlight);
    }
    .move__piece--selected-d{
        border: solid 4px var(--spotlight);
    }             
    .move__piece--selected{
        border: dashed 4px  var(--text);
    } 
    /* banner with promotion pieces */
    .board__banner__promotion{
        width:100%;
        height: 100%;
    }   
    .board__banner__img{
        margin:0 1.2% 0 1.2%;
        width:15%;
        height:15%;
    }
    /* modal board with information */
    .chess__modal{
        width: 100%;
        height: 100%;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    #chess__inf{
        color:var(--text);
    }
    /* details */
    .modal__details{
        margin-top: 0;
        width:min(98vw,85vh);
        height:calc(min(98vw,85vh) + 3vh);
        top:calc(2.2% + 8%);
        left:1vw;
    }
    .modal__details__msg{
        height:15%;
    }
    .modal__log{
        margin-top:1%;
        width:100%;
        height:90%;
    }
    #details__log::-webkit-scrollbar {
        width: 30px;
    }
    #details__log::-webkit-scrollbar-thumb {
        border: 2px solid var(--text);
    }
    .pieceDead__img{
        width: 10%;
        height: 45%;
    }
    /* section__history */
    .section__history{
        width: 98%;
        height: 50%;
        margin:0px;
    }
    .section__history__header{
        margin:0px;
        height: 10%;
    }
    #information__history::-webkit-scrollbar {
        width: 30px;
    }
    #information__history{
        width:100%;
    }
    .move__back{
        width:9vw; 
        height: 5vh; 
    }
    .history__play{
        min-height: 10%;
        width: 95%;
    }
    .history__number,
    .history__refIdPiece{
        width: 15%;
    }
    .history__img{
        width: 5%;
    }  
    .history__icon{
        margin-right: 10px;
    }       
}