*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
    font-weight: 500;
}
:root{
    --dark:#000000;
    --background:#eeeefc;
    --light-cream:#FFFAF0;
    --cream:#FFF2D7;
    --mustard:#FFBE4E;
    --title-logo: #FF8D4E;
    --text:#1B2732;
    --text-button:#D4DCE6;
    --button: #5973FC;
    --dark-blue:#6D7BC8;
    --light-blue:#A4B3FD;
    --shadow:#4458b8;
    --spotlight: #DE314E;
    --invertColor:invert(0%);
    --brightness:brightness(100%);
    --urlInput: url("Img/input.svg")
}
[data-theme="dark"] {
    --dark:#4D0C0C;
    --background:#1B2732;
    --light-cream:#818892;
    --cream:#6D7989;
    --mustard:#230e31;
    --title-logo: #4D0C0C;
    --text:#eeeefc;
    --text-button:#D4DCE6;
    --button: #2c397d;
    --dark-blue:#203C62;
    --light-blue:#6B7B92;
    --shadow:#A4B3FD;
    --spotlight: #4D0C0C;
    --invertColor:invert(100%);
    --brightness:brightness(20%);
    --urlInput: url("Img/input-dark.svg")
}
.chess__column__start{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.chess__row__start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chess__row__between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chess__column__center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.chess__row__center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chess__column__around{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.defalt__config{
    font-size:16px;
}

.chess{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:var(--background);
}

.menu__home{
    background-color:var(--background);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index:9999;
    display: none;
}
.menu__home--display{
    display:flex;
}
.menu__home__banner{
    /* margin: 2%; */
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:var(--cream);
    width: 60%;
    height: 100%;
    border-radius:0px 10% 10% 0px;
    box-shadow: 3px 3px 8px var(--shadow);
}
.menu__home__logo{
    margin-right: 10%;
    height: 60%;
}
.menu__home__title{
    margin-right: 10%;
    color: var(--title-logo);
    font-size: 5rem;
    font-family: 'Yeseva One', 'Roboto', cursive;
}
.menu__home__module{
    width: 40%;
    height: 100%;
}
.module__offline{
    width: 100%;
    height: 20%;
}
.module__online{
    width: 100%;
    height: 50%;
    margin-bottom: 5%;
}
.menu__home__inputs{
    width:80%;
    height:30%;
}
.module__title{
    color:var(--text);
    font-size: 3rem;
}
.module__subtitle{
    color:var(--text);
    font-size: 2rem;
}
.menu__button{
    padding: 3%;
    font-size: 1.2rem;
    border:none;
    border-radius: 4px;
    margin-top:5%;
    background-color:var(--button);
    color:var(--text-button);
}
.menu__button__offline{
    width:70%;
    height:60%;
}
.menu__buttons__online{
    width: 70%;
    height:20%;
}
.menu__button__newRoom{
    margin-right:1%;
    width: 40%;
    height:100%;
}
.menu__button__connectRoom{
    width: 60%;
    height:100%;
}
.menu__home__input{
    width:80%;
    height:30%;
    margin-bottom:5%;
    border-bottom: 2px solid var(--dark-blue);
}
.menu__input{
    width:100%;
    color:var(--text);
    margin-left: 1.2%;
    background-color:var(--background);
    font-size:1rem;
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
textarea:focus, input:focus, select:focus {
    outline: 0;
}
.module__icon{
    width:2rem;
    margin:0px 5px 5px 0px;
    filter: var(--invertColor);
}

/* left panel*/
.section__panel{
    width: 19%;
    height: 100%;
    background-color:var(--cream);
    padding:1.4%;
    box-shadow: 1px 1px 5px var(--shadow);
}
.section__panel__buttons{
    position:relative;
    width: 100%;
    height: 5%; 
}
.section__panel__img{
    /* width: 15%; */
    height: 100%; 
}
.section__panel__exit{
    position:absolute;
    right:17%;
    width:40%;
    height: 3vh;
    background-color:var(--light-cream);
    font-size:0.8rem;
    box-shadow: 1px 1px 5px var(--shadow);
    color:var(--text)
}
.section__panel__exit--display{
    display:none;
}
.button__dark{
    z-index:99999;
}
.section__panel__dark{
    z-index:99999;
    position:absolute;
    left:12%;
    width:40%;
    height: 100%;
    background-color:var(--light-cream);
    font-size:0.8rem;
    box-shadow: 1px 1px 5px var(--shadow);
    color:var(--text)
}
.module__dark--display{
    display:none;
}
.micro__button__img{
    width: 1.8vw;
    filter:var(--brightness)
}
.section__panel__header{
    width:100%;
    height: 30%;
}
.header__logo{
    width:85%;
}
.header__title{
    font-family: 'Yeseva One', 'Roboto', cursive;
    color: var(--title-logo);
    font-size:1.8rem;
}
.section__panel__player{
    width:100%;
    height:13%;
    margin-top:5%;
}
.player__text{
    text-align: center;
    color:var(--text);
    font-size:1rem;
}
.player__img{
    margin-top:5%;
    height: 40%;
}
.section__panel__move{
    width:100%;
    height:35%;
}
.move__column{
    width:75%;
    height:15%;
    margin-bottom:10%;
    border-bottom: 2px solid var(--mustard);
}
.move__text{
    color:var(--text);
}
.move__input{
    color:var(--text);
    margin-left: 1.2%;
    background-color:var(--cream);
    font-size:1rem;
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: var(--urlInput);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 2px;
    border-radius: 2px;
}
.move__piece{
    width:70%;
}
.move__coordinate{
    width:40%;
}
.move__button{
    font-size: 1.1rem;
    background-color:var(--button);
    color:var(--text-button);
    width:75%;
    height:15%;
    border:none;
    border-radius: 4px;
}
.section__panel__time{
    width:100%;
    height:25%;
}
.time__section{
    width:100%;
    height:50%;
}
.time__game,
.time__movement{
    color: var(--text);
    font-size: 1.2rem;
}
.time__img{
    margin-right:20%; 
    width: 10%;
    height:70%;
    filter: var(--invertColor);
}
.time__text{
    color:var(--text);
}
.time__part{
    margin-left: 25%; 
    width: 100%;
    height: 100%;
}

/* @keyframes turn {
    0% { background-color: var(--cream); }
    50% { background-color:var(--background);}
    100% { background-color: var(--cream); }
}
#player__img,
#select__color {
    border-radius: 10px;
    -webkit-animation: turn 3500ms infinite;
    -moz-animation: turn 3500ms infinite;
    -o-animation: turn 3500ms infinite;
    animation: turn 3500ms infinite;
} */

/* main panel */
.chess__main{
    position: relative;
    width: min(45vw,85vh);
    height: 100%;
}
/* top line with status game  */
.status__game__row{
    width:min(45vw,85vh);
    height: 6%;
    color:var(--cream);
    margin: 2.5vh 0 4vh 0;
    box-shadow: 1px 1px 5px var(--shadow);
    border-radius: 4px;
}
.status__game{
    color: var(--text);
    font-size: 0.8rem;
    font-weight: 500;
    border-right: 1px solid var(--shadow);
    height: 100%;
    padding: 0 10px 0 10px;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.information__game,
.information__details,
.information__connection{
    margin:1%;
    font-size:0.8rem;
}
.information__connection{
    width:50%;
    text-align: center;
}
.status__game--player{
    width: 35%;
    background-color: var(--cream);
    border-radius:  2px 0px 0px 2px ;
}
.status__game--board{
    width: 45%;
    background-color: var(--mustard);
}
.status__game--details{
    width: 20%;
    background-color: var(--dark-blue);
    cursor: pointer;
}
@keyframes glowing {
    0% { background-color: var(--mustard); }
    50% { background-color:var(--spotlight);}
    100% { background-color: var(--mustard); }
}
.check-alert-effect {
    -webkit-animation: glowing 3500ms infinite;
    -moz-animation: glowing 3500ms infinite;
    -o-animation: glowing 3500ms infinite;
    animation: glowing 3500ms infinite;
}
.icon__micro{
    width: 1.2rem;
    margin: 0px 5px 0px 10px;
    filter: var(--invertColor);
}
.icon__min{
    width: 1.4rem;
    margin: 0px 2px 5px 0px;
    filter: var(--invertColor);
}
.icon__med{
    width: 2rem;
    margin: 0px 5px 0px 0px;
    filter: var(--invertColor);
}
/* chess board */
.chess__board{
    width:min(45vw,85vh);
    height:min(45vw,85vh);
    display: flex;
    justify-content: space-between;  
    align-items: space-between;
    box-shadow: 1px 1px 5px var(--shadow);
    flex-flow: row wrap;
    position: relative;
    border-radius: 4px;
    background-color:var(--cream);
}
.chess__line{
    background-color:var(--cream);
    width: 8%;
    height: 92%;
    display: flex;
    flex-flow: column-reverse nowrap;
}
.chess__column{
    background-color:var(--cream);
    width:92%;
    height: 8%;
    margin-left:8%;
    flex-grow: 2;
}
.line{
    height: 100%;
    font-weight: 500;
    color: var(--text);
}
.column{  
    width:100%;
    font-weight: 500;
    color: var(--text)
}
.chess__squares{
    /* border: solid 2px rgb(77, 77, 77); */
    width: 92%;
    height: 92%;
    display: flex;
    flex-flow:  column-reverse wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:  var(--cream);
}
.board__square{
    width: 12.5%;
    height: 12.5%;
    border: solid 1px var(--text);
}
.square__light{
    background-color:var(--light-cream);
}
.square__dark{
    background-color: var(--dark-blue);
    opacity: 90%;
}
.square__dark--mark{
    background-color: var(--mustard);
}
.board__pieces{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.pieces__imagem{
    height:90%;
}
.move__piece--possibilities{
    /* background-color:rgba(117, 155, 112, 0.4); */
    border: dashed 2px  var(--text);
    /* background-color:rgb(75, 85, 73); */
    /* background-image: url("img/simbolo.svg"); */
    /* background-size: cover; */
}
.move__piece--possibilities-l{
    border: solid 2px var(--dark);
    background-image: url("Img/possible-movement.svg");
    background-size: 15px 15px;
    background-position: top left;
    background-repeat:no-repeat;
}   
.move__piece--possibilities-d{
    border: solid 2px  var(--dark);
    background-image: url("Img/possible-movement.svg");
    background-size: 15px 15px;
    background-position: top left;
    background-repeat:no-repeat;
}
.move__piece--selected-l{
    border: solid 2px var(--spotlight);
}
.move__piece--selected-d{
    border: solid 2px var(--spotlight);
}             
.move__piece--selected{
    border: dashed 2px  var(--text);
} 
/* banner with promotion pieces */
.board__banner__promotion{
    background-color:var(--background);
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.board__banner__img{
    width:10%;
    height:10%;
}
/* modal board with information */
.chess__modal{
    background-color: var(--mustard);
    opacity: 90%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:9;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.chess__modal--display{
    display:none
}
.chess__inf{
    text-align: center;
    color:var(--text);
    font-size:2.4rem;
}
/* details */
.modal__details{
    display: flex;
    position: absolute;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: min(45vw,85vh);
    height:calc(min(50vw,85vh) + 4vh);
    background-color: var(--dark-blue);
    border-right: solid 1px var(--shadow);
    opacity:0.97;
    left: 0;
    top:calc(2.5vh + 6%);
    z-index: 99;   
}
.modal__details--display{
    display: none;
}
.modal__details__msg{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: start;
    background-color: var(--light-blue);
    width:90%;
    height:10%;
    margin: 5% 5% 0 5%;
    padding: 2%;
    border-radius: 3px;
    overflow: auto;
}
.modal__log{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: start;
    margin:2% 0% 2% 0%;
    width:100%;
    height:70%;
}
.modal__details__capturePieceColor{
    display: flex;
    flex-flow:row wrap;
    align-items: start;
    justify-content: start;
    background-color: var(--light-blue);
    width:90%;
    height:30%;
    margin: 5% 5% 0 5%;
    padding: 2%;
    border-radius: 3px;
}
.modal__details__text{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text);
}
.details__log::-webkit-scrollbar {
    width: 10px;
}
.details__log::-webkit-scrollbar-track {
    background: var(--dark-blue); 
} 
.details__log::-webkit-scrollbar-thumb {
    background: var(--light-blue); 
    border: 1px solid var(--text);
}
.details__log::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.modal__details__pieceDead{
    width:100%;
    height:90%;
}
.pieceDead__img{
    width: 10%;
}
.log__msgs{
    color:var(--text)
}
/* section__history */
.section__history{
    width: 25%;
    height: 100%;
    border-radius: 4px;
    margin-right: 2%;
}
.section__history__header{
    background-color: var(--dark-blue);
    font-weight: 500;
    display:flex;
    flex-flow: row nowrap;
    height: 6%;
    color:var(--text);
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px var(--shadow);
    margin-top:2.5vh;
    position: relative;
    z-index: 99;
    border-radius: 4px;
}
.section__history__title{
    font-size: 1rem;
}
.section__history__information::-webkit-scrollbar {
    width: 10px;
}
.section__history__information::-webkit-scrollbar-track {
    background: var(--light-blue); 
} 
.section__history__information::-webkit-scrollbar-thumb {
    background: var(--dark-blue); 
}
.section__history__information::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
#information__history{
    width:100%;
    height:89%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--light-blue);
    box-shadow: 1px 1px 5px var(--shadow);
    position: relative;
    top:0px;
    overflow: auto;
    padding: 1%;
    scrollbar-color:#514b85 #7169b8;
    scrollbar-width: thin;
    border-radius: 0 0 2px 2px;
}
.move__back{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: none;
    width:3vw; 
    height: 5vh; 
    background: var(--dark-blue);
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 1px;
    position: absolute;
    right:10px;
    box-shadow: 1px 1px 5px var(--shadow);
    z-index: 999;
    border-radius: 8px;
    cursor: pointer;
}
.history__play{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    width: 95%;
    background-color: var(--dark-blue) ;
    box-shadow: 1px 1px 5px var(--shadow);
    border-radius: 3px;
    margin: 10px 5px 0 5px; 
    font-weight: 500;
}
.history__number{
    color:var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1rem;
    width: 15%;
    height: 100%;
}
.history__movement{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width:80%;
    height: 45%;
}
.history__refIdPiece{
    color:var(--text);
    text-align: center;
    font-size:0.8rem;
    width: 15%;
    margin:0px 2% 0px 2%;
}
.history__img{
    margin:0px 5% 0px 5%;
    width: 10%;
}
.history__img--rotate{
    transform: rotate(90deg)
}
.history__icon{
    width: 1.4rem;
    margin-right: 10px;
    filter: var(--invertColor);
}
.move__back--display{
    display: none;
}
.chess__banner{
    background-color: var(--light-blue);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index:9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__text{
    color:var(--text);
    font-size: 2rem;
    width: 50%;
    text-align: center;
}

@keyframes spotlight {
    0% { background-color: var(--cream); }
    50% { background-color:var(--mustard);}
    100% { background-color: var(--cream); }
}

.player__animation {
    border-radius: 15px;
    -webkit-animation: spotlight 2000ms 10;
    -moz-animation: spotlight 2000ms 10;
    -o-animation: spotlight 2000ms 10;
    animation: spotlight 2000ms 10;
}

@media(min-width: 1900px){
    .defalt__config{
        font-size:22px;
    }
}

@media(max-width: 900px) and (orientation: landscape){
    .defalt__config{
        font-size:10px;
    }
}

@media(max-width: 600px) and (orientation: landscape){
    .defalt__config{
        font-size:8px;
    }
}