*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
}
#chess{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}
.chess__header{
    display: flex;
    height: 80%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    margin:1%;
}
.cless__title{
    color: rgb(60, 85, 60);
}
.chess__button{
    font-weight: 500;
    font-size: 1em;
    background-color: rgb(117, 155, 112);
    width:60%;
    height:15%;
    margin:2%;
}
.chess__move{
    width: 100%; 
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
 }
 .move__column{
    display: flex;
    flex-flow: column nowrap;
    width:100%;
    height: 100%;
 }
.move__title{
    background-color: #E8884A;
    text-align:center;
    margin-top:10%;
    border: 2px solid rgb(77, 77, 77);
}
.move__button{
    margin-top:10%;
    font-weight: 500; 
}
#select__color{
    border:none;
    text-align: center;
}
.icon_micro{
    width: 0.8em;
    margin: 0px 5px 0px 10px;
}
.icon_min{
    width: 1.5em;
    margin: 0px 2px 5px 0px;
}
.icon_med{
    width: 2em;
    margin: 0px 5px 0px 0px;
}
.main__column{
    display: flex;
    flex-flow: column nowrap;
    /* background-color: aqua; */
    justify-content:flex-start;
    position: relative;
    height: 100%;
}
.modal__details{
    display: flex;
    position: absolute;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 89vh;
    width: min(50vw,85vh);
    background-color: #8379E8;
    opacity:0.97;
    left: 0px;
    top:8vh;
    border-left: 1px solid rgb(77, 77, 77);
    border-right: 1px solid rgb(77, 77, 77);
    border-bottom: 1px solid rgb(77, 77, 77);
    z-index: 99;   
}
.modal__details--display{
    display: none;
}
.status__game__row{
    display:flex;
    flex-flow: row nowrap;
    height: 6vh;
    color:black;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    box-shadow: 3px 3px 8px rgb(77, 77, 77);
    margin: 2vh 0 4vh 0 
}
.status__game{
    color:black;
    font-size: 0.8em;
    font-weight: 500;
    border-right: 1px solid rgb(77, 77, 77);
    height: 100%;
    padding: 0 10px 0 10px;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.status__game--player{
    width: 40%;
    background-color: #71E861;
    border-radius:  2px 0px 0px 2px ;
}
.status__game--board{
    width: 40%;
    background-color: #E8884A;
}
.status__game--details{
    width: 20%;
    background-color: #8379E8;
    cursor: pointer;
}
@keyframes glowing {
    0% { background-color: #E8884A; }
    50% { background-color: #DE314E;}
    100% { background-color: #E8884A; }
  }
  
.check-alert-effect {
    -webkit-animation: glowing 3500ms infinite;
    -moz-animation: glowing 3500ms infinite;
    -o-animation: glowing 3500ms infinite;
    animation: glowing 3500ms infinite;
  }

  #history__header{
      background-color: #8379E8;
      font-weight: 500;
      font-size: 0.8em;
      display:flex;
      flex-flow: row nowrap;
      height: 6vh;
      color:black;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      box-shadow: 3px 3px 8px rgb(77, 77, 77);
      margin: 2vh 0 0 0;
      position: relative;
      z-index: 99;

  }
.chess__game{
    width:min(50vw,85vh);
    height:min(50vw,85vh);
    margin:0 0 1vw 0;
    border-radius: 2px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;  
    align-items: space-between;
    box-shadow: 3px 3px 15px rgb(77, 77, 77);
}
.chess__board{   
    width:100%;
    height:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center; 
    position: relative;
}
.chess__line{
    width: 6%;
    height: 92%;
    display: flex;
    flex-flow: column-reverse nowrap;
}
.chess__column{
    width:92%;
    height: 6%;
    display: flex;
    flex-flow: row nowrap;  
    justify-content: space-between; 
    align-items: space-between;
    margin-left:6%;
}
.line{
    height: 100%;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: rgb(60, 85, 60);
}
.column{  
    width:100%;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: rgb(60, 85, 60);
}
.chess__squares{
    border: solid 2px rgb(77, 77, 77);
    width: 92%;
    height: 92%;
    display: flex;
    flex-flow:  column-reverse wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:  rgb(77, 77, 77);
}
.board__square{
    width: 12.5%;
    height: 12.5%;
    border: solid 1px rgb(77, 77, 77);
}
.square__light{
    background-color: rgb(240, 255, 240);
}
.square__dark{
    background-color: #B2ECAA;
}
.square__dark--mark{
    background-color: #8379E8;
}
.board__pieces{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.pieces__imagem{
    height:90%;
}
.chess__capturePieceColor{
    width:20vw;
    height:89vh;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    background-color: #6A62B5;
    box-shadow: 3px 3px 8px rgb(77, 77, 77);
    position: relative;
    top:0px
}
.capturePieceColor__banner{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: start;
    background-color: #6A62B5;
    width:90%;
    height:30%;
    margin: 5% 5% 0 5%;
    padding: 2%;
    border-radius: 3px;
}

.modal__details__msg{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: start;
    background-color: #6A62B5;
    width:90%;
    height:10%;
    margin: 5% 5% 0 5%;
    padding: 2%;
    border-radius: 3px;
    overflow: auto;
}

.modal__log{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: start;
    margin:2% 0% 2% 0%;
    width:100%;
    height:70%;
    background-color: #7169b8;
    box-shadow: 2px 2px 4px rgb(77 77 77);
}

.capturePieceColor__text{
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color:  black;
}
.capturePieceColor__pieceDead{
    width:100%;
    height:90%;
}
.pieceDead__img{
    width: 10%;
}
.move__piece--possibilities{
    /* background-color:rgba(117, 155, 112, 0.4); */
    border: dashed 2px  rgb(41, 41, 41);
    /* background-color:rgb(75, 85, 73); */
    /* background-image: url("img/simbolo.svg"); */
    /* background-size: cover; */
}
.move__piece--possibilities-l{
    border: solid 2px black;
    background-image: url("Img/possible-movement.svg");
    background-size: 15px 15px;
    background-position: top left;
    background-repeat:no-repeat;
}   
.move__piece--possibilities-d{
    border: solid 2px black;
    background-image: url("Img/possible-movement.svg");
    background-size: 15px 15px;
    background-position: top left;
    background-repeat:no-repeat;
}
.move__piece--selected-l{
    border: solid 2px red;
}
.move__piece--selected-d{
    border: solid 2px red;
}             
.move__piece--selected{
    border: dashed 2px  rgb(41, 41, 41);
}       
.board__squarePieces{
    background-color: rgb(240, 255, 240);
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.squarePieces__img{
    width:10%;
    height:10%;
}

#information__history::-webkit-scrollbar {
    width: 10px;
  }
  
#information__history::-webkit-scrollbar-track {
    background: #7169b8; 
  }
   
#information__history::-webkit-scrollbar-thumb {
    background: #514b85; 
  }
  
#information__history::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
#information__history{
    width:100%;
    height:89vh;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #6A62B5;
    box-shadow: 3px 3px 8px rgb(77, 77, 77);
    position: relative;
    top:0px;
    overflow: auto;
    padding: 1%;
    scrollbar-color:#514b85 #7169b8;
    scrollbar-width: thin;
    border-radius: 0 0 2px 2px;
}
.move__back{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: none;
    width:3vw; 
    height: 5vh; 
    background-color: #7169b8;
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 1px;
    position: absolute;
    right:10px;
    box-shadow: 3px 3px 8px rgb(77, 77, 77);
    z-index: 999;
    border-radius: 8px;
    cursor: pointer;
}
.aux__column{
    width: 25%;
}
.history__play{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    min-height: 10%;
    width: 95%;
    background-color: #7169b8 ;
    box-shadow: 2px 2px 4px rgb(77, 77, 77);
    border-radius: 3px;
    margin: 10px 5px 0 5px; 
    font-weight: 500;
}
.play__number
.play__refIdPiece{
    font-size:0.8em;
    width: 5%;
}
.play__img{
    width: 5%;
}
.chess__startGame{
    background-color:#fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:9999;
    display: none;
}
.chess__button__startGame{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.start__infOnlineGame{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.button__gameOnline--inf{
    background-color: rgb(117, 155, 112);
    width:10%;
    height: 5%;
}
.chess__startGame--display{
    display: block;
}
.move__back--display{
    display: none;
}
.chess__modal{
    background-color: rgba(117, 155, 112, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:9;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.chess__modal--display{
    display:none
}
#chess__inf{
    font-size:2em;
}
.start__inputsOnlineGame{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.chess__banner{
    background-color: rgb(117, 155, 112);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index:9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__text{
    color:#fff;
    font-size: 2em;
    width: 50%;
    text-align: center;
}

@media(max-width: 1000px){
    #chess{
        flex-flow:column nowrap;
        justify-content: start;
        align-items: center;
        width: 100vw;
        height: 150vh;
    }
    .chess__header{
        width: 100vw;
        height: 15vh;
        margin-top:2%;
    }
    .chess__title{
        font-size: 3em;
    }
    .chess__button{
        font-size:1.6em;
        background-color: rgb(117, 155, 112);
        width:35%;
        height:35%;
    }
    .chess__move{
        display: none;
    }
    /* .chess__move{
        height: 35%;
        flex-flow: row nowrap;
        justify-content: space-around;
     }
    .move__column{
        width:25%;
        height:100%;
    }
    .move__title{
        font-size:1.6em;
        margin-top:1%;
        height:70%;
    }
    .move__button{
        font-size:1.6em;
        margin: 0;
        width:15%;
        height:90%;
    }
    .move__input{
        font-size:1.4em;
        height: 30%;
    } */
    .icon_micro{
        width: 2em;
        margin: 0px 15px 0px 20px;
    }
    .icon_min{
        width: 2em;
        margin: 0px 4px 10px 0px;
    }
    .icon_med{
        width: 2em;
        margin: 0px 15px 0px 0px;
    }
    .main__column{
        align-items: center;
        width: 100%;
        height: 60vh;
    }
    .status__game__row{
        width: 98vw;
        margin: 1vh 0 1vh 0 
    }
    .status__game{
        font-size: 1.6em;
    }   
    #history__header{
        font-size: 1.4em;
    }
    .history__title{
        font-size: 1.4em;
    }
    .chess__game{
        width:min(100vw,85vh);
        height:min(100vw,85vh);
        margin:5%;
    }
    .line{
        font-size: 1.6em;
    }
    .column{  
        font-size: 1.6em;
    }
    .modal__details{
        height: 85%;
        width: min(100vw,85vh);
    }
    .modal__details__msg{
        width:90%;
        height:10%;
    } 
    .modal__log{
        margin-top:1%;
        width:100%;
        height:90%;
    }
    .log__msgs{
        font-size: 1.6em;
    }
    .chess__capturePieceColor{
        width:20vw;
        height:60vh;
    }
    .capturePieceColor__text{
        font-size: 1.8em;
    }  
    .squarePieces__img{
        width:10%;
        height:10%;
    }
    .aux__column{
        width: 98%;
        height: 30%;
    }
    .move__back{
        width:10vw; 
    }
    .history__play{
        height: 6vh;
    }
    .play__number,
    .play__refIdPiece{
        font-size:1.6em;
    }
    .chess__startGame{
        height: 150vh;
    }
    .chess__button__startGame{
        justify-content: start;
        padding-top:30%;
    }
    .button__startGame{
        height: 10%;
    }
    .start__infOnlineGame
    {
        width: 100%;
        /* height: 10%; */
    }
    .start__inputsOnlineGame{
        width: 100%;
        height: 100%;
    }
    .input__gameOnline--name,
    .input__gameOnline--code
    {
        font-size: 2em; 
        width: 30%;
        height: 30%;
    }
    .start_buttonOnlineGame{
        display: flex;
        flex-flow:column nowrap;
        width: 30%;
        height: 10%;
        font-size: 2em;
    }
    .button__gameOnline--code{
        margin-bottom: 3%;
        font-size: 1.2em;
    }
    .button__gameOnline--inf{
        background-color: rgb(117, 155, 112);
        width:50%;
        height: 5%;
    }
    #chess__inf{
        font-size:5em;
    }
    #information__history{
        height: 100%;
    }
    .chess__banner{
        font-size: 5em;
    }
    .banner__text{
        color:#fff;
        font-size: 4em;
        width: 50%;
        text-align: center;
    }
}